@inject IGameService GameService

<div class="row mt-3 align-items-sm-center justify-content-between">
    <div class="col-auto px-0">
        <h1 class="font-weight-bold mb-0">2048</h1>
    </div>
    <div class="col-auto px-0 text-right">
        <span class="smaller d-block align-self-center">
            <span class="touch-screen"><strong>Swipe</strong> with your fingers<br/></span>
            <span class="non-touch-screen">Use your <strong>arrow keys</strong><br/></span>
            to move the tiles.
        </span>
    </div>
</div>
<div class="row mt-1 mb-3 mt-sm-3 align-items-center justify-content-between">
    <div class="col-auto px-0">
        <div class="row">
            <div class="col">
                <span class="font-weight-bold"><span class="oi oi-bar-chart"></span> Best:</span>
                <span>@GameService.BestScore</span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <span class="font-weight-bold"><span class="oi oi-target"></span> Score:</span>
                <span class="mr-1">@(Game?.Score ?? 0)</span>
                @if (Game is not null)
                {
                    <span class="font-weight-bolder">
                        @if (Game.Over)
                        {
                            @:(Over)
                        }
                        else if (Game.Won)
                        {
                            @:(Won)
                        }
                    </span>
                }
            </div>
        </div>
    </div>
    <div class="col-auto px-0 text-right">
        <div class="row">
            <div class="col">
                <button class="btn btn-game" @onclick="NewGameCallback">
                    <span class="oi oi-plus mr-2"></span>New Game
                </button>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col">
                <button class="btn btn-game" @onclick="UndoAsync" disabled="@(GameService.Game?.CanUndo == false)">
                    <span class="oi oi-reload mr-2"></span>Undo
                </button>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <GridComponent Grid="@Game?.Grid"/>
</div>

@code {
#nullable enable

    [Parameter]
    public EventCallback NewGameCallback { get; set; }

    [Parameter]
    public Game? Game { get; set; }

    private async Task UndoAsync()
    {
        await GameService.UndoAsync();
        await GameService.FocusAsync();
    }
}