.btn-game {
    background-color: hsl(30, 20%, 45%);
    border-color: hsl(30, 20%, 45%);
    color: white;
    font-weight: bolder;
}

.btn-game:hover {
    color: white;
}

.btn-game:focus {
    box-shadow: none;
}

.smaller {
    font-size: 70%;
    font-weight: 400;
}

.touch-screen {
    display: none;    
}

@media (hover: none) {
    .touch-screen {
        display: inline;
    }
    
    .non-touch-screen {
        display: none;
    }
}

@media (max-width: 575px) {
    .btn-game {
        padding: 0.3rem 0.6rem;
        font-weight: normal;
        font-size: 0.7rem;
    }
}