.grid {
    background-color: hsl(30, 20%, 70%);
    border-radius: 5px;
}

.grid>.row {
    padding-right: 5px;
}

.grid:last-child {
    padding-bottom: 5px;
}

.message-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message-container.won {
    color: white;
    background-color: hsla(44, 85%, 55%, 0.7);
}

.message-container.over {
    background-color: hsla(30, 20%, 98%, 0.7);
}

@media (min-width: 576px) {
    .grid>.row {
        padding-right: 10px;
    }

    .grid:last-child {
        padding-bottom: 10px;
    }
}