.game {
    background-color: hsl(30, 20%, 98%);
    color: hsl(30, 20%, 45%);
    height: 100%;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select:none; 
    user-select:none;
    /*noinspection CssUnknownProperty*/
    -o-user-select:none;
}

@media (min-width: 576px) {
    .game {
        font-size: 1.4rem;
    }
}

.smaller {
    font-size: 70%;
    font-weight: 400;
}

.touch-screen {
    display: none;
}

@media (hover: none) {
    .touch-screen {
        display: inline;
    }

    .non-touch-screen {
        display: none;
    }
}