@page "/"
@page "/game"
@inject IGameService GameService

<div class="container-fluid game" @onkeydown="KeyDown" tabindex="-1" @ref="_container">
    <div class="row justify-content-center">
        <div class="col-auto">
            <div class="row my-3 justify-content-center text-center">
                <div class="col-12">
                    <span class="display-3 font-weight-bold">2048</span>
                </div>
                <div class="col-12">
                    <button class="btn btn-game" @onclick="GameService.NewGame">New Game</button>
                </div>
            </div>
            <GameComponent Game="@GameService.Game" @ref="_gameComponent"/>
            <div class="row my-3 justify-content-center text-center">
                <div class="col-auto">
                    <span>
                        Use the <strong>arrow keys</strong> on your keyboard or <br/>
                        the <strong>arrow buttons</strong> above to move tiles.
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
#nullable enable
    private ElementReference _container;
    private GameComponent? _gameComponent;

    protected override void OnInitialized()
    {
        if (!GameService.IsGameStarted)
            GameService.NewGame();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await _container.FocusAsync();
    }

    private void KeyDown(KeyboardEventArgs e)
    {
        if (!GameService.IsGameStarted)
            return;

        switch (e.Key)
        {
            case "ArrowUp":
                _gameComponent!.MoveUp();
                break;
            case "ArrowRight":
                _gameComponent!.MoveRight();
                break;
            case "ArrowDown":
                _gameComponent!.MoveDown();
                break;
            case "ArrowLeft":
                _gameComponent!.MoveLeft();
                break;
        }
    }

}